# Ignore artifacts:
build
coverage

# Ignore node_modules except for the root:
node_modules
package.json
package-lock.json
pnpm-lock.yaml

# Ignore .env files
.env
.env.local

# Ignore types folder
types
types/*
userType.ts
domainType.ts